body {
  margin: 40px;
  background-color: green;
}

h1 {
  color: white;
  font-size: 66px;
  font-family: Helvetica;
}

@@media only screen and (max-width: 480px) {
  body {
    background: linear-gradient(c21500, ffc500);
  }

  h1 {
    color: black;
  }
}
